## B2.2.3 Подсчет количества значений в процентах

In [1]:
import pandas as pd

In [43]:
small_df = pd.read_csv("data_sf.csv")
small_df.head(5)

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13

In [107]:
# посчитать количество футболистов не в абсолютных числах, а в процентах от общего числа в датасете.
# Для этого надо вызвать функцию value_counts() с параметром normalize=True:

s = small_df['Nationality'].value_counts(normalize=True)
display(s)

England                 0.106071
Germany                 0.071257
Spain                   0.052028
France                  0.047608
Argentina               0.044506
                          ...
Central African Rep.    0.000078
Mauritius               0.000078
South Sudan             0.000078
Palestine               0.000078
Grenada                 0.000078
Name: Nationality, Length: 156, dtype: float64

#### Данные об игроках каких позиций (Position) занимают более 10% датасета?

In [4]:
s = small_df['Position'].value_counts(normalize=True)
display(s)

GK     0.127239
ST     0.117237
CB     0.108785
CM     0.082732
LB     0.077692
RB     0.073505
RM     0.059394
LM     0.056447
CDM    0.053578
CAM    0.049081
RCB    0.032411
LCB    0.031713
LW     0.018764
RCM    0.018609
RW     0.018376
LCM    0.018066
LDM    0.011476
RDM    0.010700
LS     0.009382
RS     0.008839
RWB    0.005428
LWB    0.004652
CF     0.003954
LF     0.000620
LAM    0.000465
RF     0.000465
RAM    0.000388
Name: Position, dtype: float64

#### Данные об игроках каких позиций (Position) занимают менее 1% датасета?

In [15]:
s.loc[s < 0.01]

LS     0.009382
RS     0.008839
RWB    0.005428
LWB    0.004652
CF     0.003954
LF     0.000620
LAM    0.000465
RF     0.000465
RAM    0.000388
Name: Position, dtype: float64

In [17]:
s['RDM']

0.010700162828564782

## B2.2.4 Подсчет количества значений по численным признакам
Ещё один параметр, который можно передать в функцию value_counts, — это параметр bins. Этот параметр удобно передавать, когда мы хотим сгруппировать данные не по категориальному признаку (каким, например, является национальность), а по численному признаку (например, по возрасту).

In [21]:
s = small_df['Age'].value_counts()
display(s.head())

21    1060
20     989
22     972
19     907
24     902
Name: Age, dtype: int64

In [22]:
s = small_df['Wage'].value_counts()
display(s)

1000      4601
2000      2652
3000      1596
4000       929
5000       566
          ...
250000       1
185000       1
87000        1
300000       1
265000       1
Name: Wage, Length: 142, dtype: int64

In [26]:
# Из-за того, что цифры зарплат повторяются не часто , трудно сделать какие-то выводы. 
# Но всё будет более наглядно, если мы разобьем весь возможный диапазон зарплат на 4 равных промежутка 
# и подсчитаем количество футболистов, попадающих в каждый из промежутков. Именно для этого нужен параметр bins:

s = small_df['Wage'].value_counts(bins=4)
display(s)

(435.999, 142000.0]     12818
(142000.0, 283000.0]       61
(283000.0, 424000.0]       16
(424000.0, 565000.0]        2
Name: Wage, dtype: int64

In [27]:
# Давайте посмотрим, что это за футболисты:

small_df.loc[(small_df['Wage'] > s.index[3].left) & (small_df['Wage'] <= s.index[3].right)]

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
7,7,L. Suárez,31,Uruguay,FC Barcelona,80000000,455000,RS,77,93,...,85,85,62,45,38,27,25,31,33,37

In [33]:
s.index

IntervalIndex([(435.999, 142000.0], (142000.0, 283000.0], (283000.0, 424000.0], (424000.0, 565000.0]],
              closed='right',
              dtype='interval[float64]')

In [35]:
s.index[3]

Interval(424000.0, 565000.0, closed='right')

In [36]:
s.index[3].left

424000.0

In [37]:
s.index[3].right

565000.0

In [38]:
small_df['Wage'] > s.index[3].left

0         True
1        False
2        False
3        False
4        False
         ...
12892    False
12893    False
12894    False
12895    False
12896    False
Name: Wage, Length: 12897, dtype: bool

In [49]:
small_df = pd.read_csv("data_sf.csv")
small_df.head(5)
# small_df = small_df[small_df.columns[0:7]].head(25)
# print(small_df)

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13

#### B2.2.4.1 
#### Задание 1 В каких пределах находятся худшие 20% показателей точности ударов ногой (FKAccuracy)?

In [51]:
s = small_df['FKAccuracy'].value_counts(bins=5)
display(s)

# correct answer is (2.908, 21.2]    1760

(21.2, 39.4]     4859
(39.4, 57.6]     3957
(57.6, 75.8]     2108
(2.908, 21.2]    1760
(75.8, 94.0]      213
Name: FKAccuracy, dtype: int64

#### B2.2.4.2
#### Какие показатели точности ударов ногой демонстрирует большинство футболистов?

In [54]:
s = small_df['FKAccuracy'].value_counts(bins = 5)
display(s)

# correct answer is (21.2, 39.4]     4859

(21.2, 39.4]     4859
(39.4, 57.6]     3957
(57.6, 75.8]     2108
(2.908, 21.2]    1760
(75.8, 94.0]      213
Name: FKAccuracy, dtype: int64

## B2.2.5 Функции unique и nunique

In [56]:
s = small_df['Nationality'].value_counts()
print(s.index)
print(len(s.index))

# s.index в данном случае выводит количество уникальных значений, 
# а len(s.index) подсчитывает количество этих значений.

Index(['England', 'Germany', 'Spain', 'France', 'Argentina', 'Italy',
       'Colombia', 'Japan', 'Brazil', 'China PR',
       ...
       'Lebanon', 'Nicaragua', 'Bermuda', 'Ethiopia', 'St Lucia',
       'Central African Rep.', 'Mauritius', 'South Sudan', 'Palestine',
       'Grenada'],
      dtype='object', length=156)
156

In [61]:
# Функция unique возвращает список уникальных элементов из серии.

small_df['Nationality'].unique()

array(['Argentina', 'Portugal', 'Brazil', 'Spain', 'Belgium', 'Croatia',
       'Uruguay', 'Slovenia', 'Poland', 'Germany', 'France', 'England',
       'Italy', 'Egypt', 'Colombia', 'Denmark', 'Gabon', 'Wales',
       'Senegal', 'Costa Rica', 'Slovakia', 'Netherlands',
       'Bosnia Herzegovina', 'Morocco', 'Serbia', 'Algeria', 'Austria',
       'Greece', 'Chile', 'Sweden', 'Korea Republic', 'Finland', 'Guinea',
       'Montenegro', 'Switzerland', 'Norway', 'DR Congo', 'Ukraine',
       'Mexico', 'Czech Republic', 'Ivory Coast', 'Albania', 'Turkey',
       'Ghana', 'Ecuador', 'Mali', 'Nigeria', 'Dominican Republic',
       'Japan', 'Cameroon', 'Republic of Ireland', 'Romania',
       'United States', 'Russia', 'Hungary', 'Iceland', 'Zimbabwe',
       'Togo', 'Angola', 'Burkina Faso', 'Peru', 'Scotland', 'Venezuela',
       'Estonia', 'Tunisia', 'Israel', 'Equatorial Guinea', 'New Zealand',
       'FYR Macedonia', 'Paraguay', 'China PR', 'Kosovo', 'Tanzania',
       'Iran', 'Uzbekistan', 'South Africa', 'Australia', 'Congo',
       'Jamaica', 'Mozambique', 'Cape Verde', 'Northern Ireland', 'Syria',
       'Cyprus', 'Moldova', 'Canada', 'Trinidad & Tobago', 'Bulgaria',
       'Georgia', 'Saudi Arabia', 'Armenia', 'Guinea Bissau', 'Haiti',
       'Comoros', 'Eritrea', 'Oman', 'Iraq', 'Latvia', 'Panama',
       'Bolivia', 'Madagascar', 'Belarus', 'Honduras', 'Thailand',
       'Mauritius', 'Gambia', 'Guatemala', 'Central African Rep.',
       'Zambia', 'Curacao', 'Niger', 'Mauritania', 'Suriname', 'Benin',
       'Luxembourg', 'Kenya', 'Montserrat', 'Namibia', 'Azerbaijan',
       'Guam', 'Libya', 'Faroe Islands', 'Nicaragua', 'Sierra Leone',
       'Kazakhstan', 'Lithuania', 'Barbados', 'Lebanon', 'Liechtenstein',
       'Palestine', 'Guyana', 'Korea DPR', 'El Salvador', 'Cuba', 'Sudan',
       'Burundi', 'St Lucia', 'Ethiopia', 'Uganda', 'Puerto Rico',
       'Grenada', 'Antigua & Barbuda', 'Jordan', 'Rwanda', 'Bermuda',
       'Qatar', 'Afghanistan', 'Hong Kong', 'Andorra', 'Malta', 'Belize',
       'South Sudan', 'St Kitts Nevis', 'Philippines', 'Indonesia',
       'Botswana'], dtype=object)

In [62]:
# Передав получившийся список в функцию len, мы можем подсчитать количество уникальных значений в серии:

len(small_df['Nationality'].unique())

156

In [64]:
# получить количество уникальных значений в серии

small_df['Nationality'].nunique()

156

Отметьте все варианты кода, после выполнения которого переменная result будет содержать количество видов позиций (Position), которые занимают игроки, представленные в датасете:

In [73]:
result = small_df['Position'].nunique() # 1

result = len(small_df['Position'].unique()) # 2

result = len(small_df['Position'].value_counts()) # 3

print(result)

27

## B2.2.6 Преобразование серии value_counts в датафрейм

In [74]:
# Преобразовать серию, получившуюся в результате работы функции value_counts, в датафрейм. 
# Для этого нужно к получившейся серии применить функцию reset_index

s = small_df['Nationality'].value_counts()
s_df = s.reset_index()
display(s_df)

                    index  Nationality
0                 England         1368
1                 Germany          919
2                   Spain          671
3                  France          614
4               Argentina          574
..                    ...          ...
151  Central African Rep.            1
152             Mauritius            1
153           South Sudan            1
154             Palestine            1
155               Grenada            1

[156 rows x 2 columns]

In [75]:
# переименуем столбцы получившегося датафрейма 

s_df.columns = ['Nationality','Players Count']
display(s_df)

              Nationality  Players Count
0                 England           1368
1                 Germany            919
2                   Spain            671
3                  France            614
4               Argentina            574
..                    ...            ...
151  Central African Rep.              1
152             Mauritius              1
153           South Sudan              1
154             Palestine              1
155               Grenada              1

[156 rows x 2 columns]

## B2.2.7 Практика

#### B2.2.7.1 Задача #1
У какого процента испанских специалистов (Nationality = 'Spain') зарплата (Wage) находится в пределах 25% минимума от наблюдаемого уровня зарплат? Ответ дайте в виде целого числа (округлите полученный результат) без знака %.

In [80]:
s = small_df['Nationality'].value_counts()
display(s)

England                 1368
Germany                  919
Spain                    671
France                   614
Argentina                574
                        ...
Central African Rep.       1
Mauritius                  1
South Sudan                1
Palestine                  1
Grenada                    1
Name: Nationality, Length: 156, dtype: int64

In [86]:
small_df[(small_df.Nationality == 'Spain')].Wage.value_counts(bins = 4)

(620.999, 95750.0]      651
(95750.0, 190500.0]      11
(190500.0, 285250.0]      6
(285250.0, 380000.0]      3
Name: Wage, dtype: int64

In [85]:
small_df[small_df['Nationality'] == 'Spain']['Wage'].value_counts(bins = 4)

(620.999, 95750.0]      651
(95750.0, 190500.0]      11
(190500.0, 285250.0]      6
(285250.0, 380000.0]      3
Name: Wage, dtype: int64

#### B2.2.7.2 Задача #2
Укажите количество уникальных сборных (Nationality), к которым относятся футболисты, выступающие за клуб (Club) "Manchester United".

In [ ]:
# small_df['Nationality'].unique()

In [ ]:
# small_df[(small_df.Nationality == 'Spain')].Wage.value_counts(bins = 4)

In [87]:
small_df[(small_df.Club == "Manchester United")].Nationality.unique() # нашел сборные

array(['Spain', 'France', 'Belgium', 'Chile', 'Serbia', 'England',
       'Ivory Coast', 'Ecuador', 'Argentina', 'Brazil', 'Italy',
       'Scotland', 'Wales'], dtype=object)

In [102]:
len(small_df[(small_df.Club == "Manchester United")].Nationality.unique()) # нашел кол-вл

13

#### B2.2.7.3 Задача #3
С помощью функции unique определите двух футболистов из Бразилии (Nationality = 'Brazil'), выступающих за клуб (Club) 'Juventus'. Перечислите их имена (Name, как в датафрейме) через запятую в алфавитном порядке.

In [121]:
small_df[(small_df.Nationality == "Brazil") & (small_df.Club == "Juventus")].Name.unique()

array(['Alex Sandro', 'Douglas Costa'], dtype=object)

#### B2.2.7.4 Задача #4
Укажите, какой из клубов (Club) насчитывает большее количество футболистов возрастом (Age) старше 35 лет.

In [122]:
small_df[(small_df.Age > 35)].Club.value_counts(normalize=True)

Club Atlético Huracán         0.014652
Hokkaido Consadole Sapporo    0.014652
Nagoya Grampus                0.010989
Club Atlético Colón           0.010989
Morecambe                     0.010989
                                ...
Bury                          0.003663
Kristiansund BK               0.003663
PEC Zwolle                    0.003663
Club Necaxa                   0.003663
Club Tijuana                  0.003663
Name: Club, Length: 212, dtype: float64

#### B2.2.7.5 Задача #5
С помощью функции value_counts с параметром bins разбейте всех футболистов сборной (Nationality) Аргентины ('Argentina') на 4 равные группы. Укажите, сколько футболистов в возрасте от 34.75 до 41 года в сборной Аргентины.

In [138]:
small_df[(small_df.Nationality == "Argentina")].Age.value_counts(bins = 4) 
# обрати внимание на задание, там указана группировка по Age

(22.25, 28.5]      200
(15.974, 22.25]    197
(28.5, 34.75]      128
(34.75, 41.0]       49
Name: Age, dtype: int64

#### B2.2.7.6 Задача #6
Сколько процентов футболистов из Испании (Nationality = 'Spain') имеют возраст (Age) 21 год? Введите с точностью до 2 знаков после запятой без указания знака % (например, 12.35).

In [156]:
# small_df[(small_df.Nationality == "Spain")].Age.value_counts(normalize=True)

# кустарный способ
g = small_df[(small_df.Nationality == "Spain")].Age.value_counts(normalize=True)
print(g * 100)

21    11.773472
22     9.538003
20     7.749627
23     7.153502
25     6.408346
27     6.259314
24     5.961252
28     5.365127
26     5.365127
29     4.769001
19     4.769001
18     3.874814
30     3.874814
31     3.278689
32     3.278689
33     3.129657
34     2.235469
17     1.341282
35     1.192250
36     1.043219
37     0.894188
39     0.298063
16     0.298063
38     0.149031
Name: Age, dtype: float64