### B1.2.2 DataFrame

In [3]:
import pandas as pd

In [5]:
df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4], "col3": [5, 6]})
display(df)

   col1  col2  col3
0     1     3     5
1     2     4     6

In [8]:
df = pd.DataFrame([ [1,2,3], [2,3,4], [5, 6, 7]],
                  columns = ['foo', 'bar', 'baz'], 
                  index = ['foobar', 'foobaz', "kamaz"])
display(df)

        foo  bar  baz
foobar    1    2    3
foobaz    2    3    4
kamaz     5    6    7

#### Какой код создаст DataFrame с колонкой "Тестовая колонка" и значениями 1 и 5 в ней (pandas импортирован как pd)?

In [10]:
pd.DataFrame({'Тестовая колонка':[1,5]})

   Тестовая колонка
0                 1
1                 5